<div class="container">
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top " aria-label="Main navbar" data-bs-auto-collapse>
      <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center" routerLink="/">
          <img src="assets/images/Escudo.avif" alt="Logo" class="logo-image" width="50" height="50">
          <div class="text-container me-auto">
            <h1 class="title">Institución Educativa Rural Vanguardia</h1>
            <p class="subtitle">¡CON PASO FIRME HACIA LA EXCELENCIA PERSONAL!</p>
          </div>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
          aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" routerLink="/">Inicio</a>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">Institucional</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" routerLink="/misionVision">Misión y Visión</a></li>
                <li><a class="dropdown-item" routerLink="/symbols">Símbolos</a></li>
                <li><a class="dropdown-item" routerLink="/principlesAndValues">Principios y Valores</a></li>
                <li><a class="dropdown-item" routerLink="/sedes">Sedes</a></li>
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">Académica</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" routerLink="/coexistenceManual">Manual de convivencia</a></li>
                <li><a class="dropdown-item" routerLink="/pei">PEI</a></li>
                <li><a class="dropdown-item" routerLink="/studyPlan">Plan de Estudio</a></li>
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">Administrativa</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" routerLink="/resolutions">Resoluciones</a></li>
                <li><a class="dropdown-item" routerLink="/communiques">Comunicados</a></li>
                <li><a class="dropdown-item" routerLink="/transparency">Transparencia y Rendición de Cuentas</a></li>
                <li><a class="dropdown-item" href="https://sac2.gestionsecretariasdeeducacion.gov.co/app_Login/?sec=91"
                    target="_blank" rel="noopener noreferrer">SAC Villavicencio</a></li>
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">Proyectos</a>
              <ul class="dropdown-menu">

                <li><a class="dropdown-item" [routerLink]="['/projectPedagogical']">Pedagógicos</a></li>
                <li><a class="dropdown-item" [routerLink]="['/projects', 'PRODUCTIVE']">Productivos</a></li>
                <li><a class="dropdown-item" [routerLink]="['/projects', 'CLASSROOM']">de Aula</a></li>
              </ul>
            </li>


            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">Ver más</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" routerLink="/library">Biblioteca Virtual</a></li>
                <li><a class="dropdown-item" routerLink="/schoolMarket">Mercado Escolar</a></li>
                <li><a class="dropdown-item" routerLink="/community">Comunidad</a></li>
                <li><a class="dropdown-item" routerLink="/schoolNewspaper">Periódico Escolar</a></li>
                <li><a class="dropdown-item" routerLink="/virtualRealityGames">Juegos</a></li>
                <li><a class="dropdown-item" routerLink="/agenda/create">Agendar Citas</a></li>
                <li *ngIf="isAdmin()"><a class="dropdown-item" routerLink="/academicCalendar">Calendario academico</a></li>
                <li *ngIf="isAdmin() || isTeacher()"><a class="dropdown-item" routerLink="/agenda">Agenda de citas</a></li>
              </ul>
            </li>
          </ul>

          <div class="btn-container d-flex gap-2">
            <a class="btn btn-primary"  *ngIf="!(isLoggedIn$ | async)" routerLink="/register">Registrarse</a>
            <a class="btn btn-outline-primary" *ngIf="!(isLoggedIn$ | async)" routerLink="/login">Iniciar sesión</a>
            <a class="btn btn-outline-danger" *ngIf="isLoggedIn$ | async" (click)="logout()">Cerrar sesión</a>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <hr class="featurette-divider">
</div>