<div class="container">
  <div class="row featurette mb-5">
    <div class="col-md-8 offset-md-2 text-center">
      <h2 class="featurette-heading display-4 fw-bold mb-4">Convocatoria a egresados y representantes del sector
        productivo.
      </h2>
      <p class="lead text-muted">
        El rector de la IERV convoca a los egresados y representantes del sector productivo que deseen formar parte del
        consejo directivo de la IERV a que envíen sus datos de contacto. Para ver el comunicado completo, por favor de
        clic en el link que corresponda:
      </p>
    </div>
  </div>

  <hr class="featurette-divider">

  <p class="lead mt-3 text-muted">
    Convocatoria para recibir ofertas para la contratación del servicio de cafetería de la institución para el año
    lectivo 2023.
  </p>
  <div class="row justify-content-center mb-5">
    <div class="col-12 col-md-10 ">
      <iframe src="assets/documents/INVITACION A OFERTAR SERVICIO DE CAFETERIA - TIENDA ESCOLAR SEDE PRINCIPAL.pdf" class="w-100" style="height: 600px; border: none;">
      </iframe>
    </div>
  </div>
  <div class="text-center mb-5">
    <a class="btn btn-outline-primary btn-lg shadow-sm" href="assets/documents/INVITACION A OFERTAR SERVICIO DE CAFETERIA - TIENDA ESCOLAR SEDE PRINCIPAL.pdf"
      download="INVITACION A OFERTAR SERVICIO DE CAFETERIA - TIENDA ESCOLAR SEDE PRINCIPAL.pdf">
      Descargar Convocatoria
    </a>
  </div>
  <p class="lead mt-3 text-muted">
    Convocatoria a egresados interesados en formar parte del Consejo Directivo de la IERV.
  </p>
  <div class="row justify-content-center mb-5">
    <div class="col-12 col-md-10 ">
      <iframe src="assets/documents/CONVOCATORIA EGRESADOS.pdf" class="w-100" style="height: 600px; border: none;">
      </iframe>
    </div>
  </div>
  <div class="text-center mb-5">
    <a class="btn btn-outline-primary btn-lg shadow-sm" href="assets/documents/CONVOCATORIA EGRESADOS.pdf"
      download="CONVOCATORIA EGRESADOS.pdf">
      Descargar Convocatoria
    </a>
  </div>

  <p class="lead mt-3 text-muted">
    Convocatoria a representantes del sector productivo interesados en formar parte del Consejo Directivo de la IERV.
  </p>

  <div class="row justify-content-center mb-5">
    <div class="col-12 col-md-10 ">
      <iframe src="assets/documents/CONVOCATORIA SECTOR PRODUCTIVO.pdf" class="w-100" style="height: 600px; border: none;">
      </iframe>
    </div>
  </div>
  <div class="text-center mb-5">
    <a class="btn btn-outline-primary btn-lg shadow-sm" href="assets/documents/CONVOCATORIA SECTOR PRODUCTIVO.pdf"
      download="CONVOCATORIA SECTOR PRODUCTIVO.pdf">
      Descargar Convocatoria
    </a>
  </div>
</div>