<div class="container my-5">
  <h2 class="text-center display-4 fw-bold mb-3">Plan de Estudio por Área</h2>

  <p class="lead text-center mb-5">
    El plan de estudio es una guía detallada que describe los objetivos, contenidos, metodologías y evaluaciones de cada
    área de conocimiento.
    Su propósito es brindar a los estudiantes una estructura clara de aprendizaje, que promueva el desarrollo integral
    en cada materia y los prepare para los retos académicos y profesionales futuros.
  </p>

  <div class="row">
    <div class="col-md-4">
      <h3 class="text-center titles mb-4">Áreas</h3>
      <div class="d-flex flex-column align-items-center">
        <a href="assets/documents/biology.pdf" target="_blank" class="btn btn-outline-primary btn-lg shadow-sm mb-3">
          <i class="fa fa-file-pdf-o me-2"></i> CIENCIAS NATURALES - Plan de Estudio
        </a>
        <a href="assets/documents/spanish.pdf" target="_blank" class="btn btn-outline-primary btn-lg shadow-sm mb-3">
          <i class="fa fa-file-pdf-o me-2"></i> LENGUA CASTELLANA - Plan de Estudio
        </a>
        <a href="assets/documents/mathemathics.pdf" target="_blank"
          class="btn btn-outline-primary btn-lg shadow-sm mb-3">
          <i class="fa fa-file-pdf-o me-2"></i> MATEMÁTICAS - Plan de Estudio
        </a>
      </div>
    </div>

    <div class="col-md-8 d-flex flex-column align-items-center">
      <h3 class="text-center titles mb-4">Ver y/o Descargar Plan de Estudio</h3>
      <p class="text-center lead mb-5">Haz clic en el área correspondiente para descargar o visualizar el plan de
        estudio.</p>
      <div class="text-center">
        <img src="assets/images/pdf-icon.png" alt="PDF Icon" width="100" height="100">
      </div>
    </div>
  </div>
</div>