<div class="container marketing my-5">
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading display-4 fw-bold text-center">Proyectos pedagógicos</h2>
            <p class="lead mt-3 text-muted" style="text-align: justify;">
                En la Institución Educativa Rural Vanguardia, creemos en el poder de la educación como motor de cambio.
                Nuestros proyectos pedagógicos están diseñados para fomentar el aprendizaje activo y el desarrollo
                integral de
                nuestros estudiantes. A través de metodologías innovadoras y enfoques inclusivos, buscamos crear un
                ambiente
                donde cada alumno pueda explorar su potencial, colaborar con otros y aplicar sus conocimientos en
                contextos reales.
                Aquí encontrarás información sobre nuestros programas, actividades y cómo la comunidad puede participar
                en estos
                esfuerzos educativos.
            </p>

        </div>
        <div class="col-md-5 d-flex flex-column justify-content-center gap-3">
            <a href="/schoolGovernance" class="btn btn-outline-primary btn-lg px-4 py-2 rounded-pill">Gobierno
                escolar</a>
            <a href="/pegr" class="btn btn-outline-primary btn-lg px-4 py-2 rounded-pill">PEGR</a>
            <a href="/pescc" class="btn btn-outline-primary btn-lg px-4 py-2 rounded-pill">PESCC</a>
        </div>
    </div>
</div>