<div class="container my-5">
    <h2 class="text-center display-4 fw-bold mb-4">Rendición de Cuentas</h2>

    <div class="text-center mb-4">
        <p class="lead">
            <strong>Rendición de Cuentas 2019</strong><br>
            <span>Fecha:</span> Miércoles 26 de febrero de 2020<br>
            <span>Hora:</span> 6:30 a.m. a 8:00 a.m.<br>
            <span>Lugar:</span> Polideportivo sede principal<br>
        </p>
    </div>

    <div class="row justify-content-center mb-5">
        <div class="col-12 col-md-10 ">
            <iframe src="assets/documents/CONVOCATORIA RENDICION DE CUENTAS 2020.pdf" class="w-100"
                style="height: 600px; border: none;">
            </iframe>
        </div>
    </div>

    <div class="text-center">
        <a class="btn btn-outline-primary btn-lg shadow-sm rounded-pill px-5"
            href="assets/documents/CONVOCATORIA RENDICION DE CUENTAS 2020.pdf" target="_blank">
            Descargar PDF
        </a>
    </div>
</div>