<div class="container my-5">
    <div class="row featurette mb-5">
        <div class="col-md-8 offset-md-2 text-center">
            <h2 class="featurette-heading display-4 fw-bold">PESCC</h2>
            <p class="lead mt-3 text-muted" style="text-align: justify;">
                El proyecto PESCC, promueve la igualdad de posibilidades para ambos sexos, donde se acepten las
                diferencias. Una de las etapas más complejas de la educación es la que se encuentra en el paso de la
                niñez a la adolescencia, pues durante esta se producen cambios biológicos, psicológicos, fisiológicos,
                sexuales entre otros que necesitan de atención y seguimiento por parte de los adultos con los que se
                relaciona. La educación sexual está presente en todos los propósitos de manera consciente e
                inconsciente.
            </p>
        </div>
    </div>

    <hr class="featurette-divider">
</div>