<div class="container my-5">
    <div class="row featurette mb-5">
        <div class="col-md-8 offset-md-2 text-center">
            <h2 class="featurette-heading display-4 fw-bold">PEGR</h2>
            <p class="lead mt-3 text-muted" style="text-align: justify;">
                El Plan Escolar para la Gestión del Riesgo está dirigido a todos los miembros de la comunidad de la
                Institución Educativa Rural Vanguardia del municipio de Villavicencio interesados en el mejoramiento
                de las condiciones de seguridad y calidad de vida de los niños, niñas y adolescentes en el contexto
                escolar.
            </p>

            <p class="lead mt-3 text-muted" style="text-align: justify;">
                Consta de 10 partes distribuidas de la siguiente manera:
            </p>
            <ol class="lead mt-3 text-muted" style="padding-left: 20px; text-align: left;">
                <li>Conceptos básicos sobre gestión del riesgo</li>
                <li>Educación, desarrollo y gestión del riesgo</li>
                <li>Presentación institucional</li>
                <li>Objetivos y políticas</li>
                <li>Conocimiento del riesgo</li>
                <li>Intervención del riesgo</li>
                <li>Preparación para la respuesta</li>
                <li>Ejecución de la respuesta</li>
                <li>Preparación para la recuperación</li>
                <li>Protocolos de bioseguridad pandemia COVID-19</li>
            </ol>

            <p class="lead mt-3 text-muted" style="text-align: justify;">
                En el desarrollo de las diferentes etapas del proyecto, se propone el diligenciamiento de 10 anexos
                y de 22 formularios que permitan orientar a la comunidad educativa en la formulación e implementación
                de planes para la gestión del riesgo.
            </p>

            <p class="lead mt-3 text-muted" style="text-align: justify;">
                Está basado en el trabajo previo de docentes en años anteriores y en el documento Guía Plan Escolar
                para la Gestión del Riesgo del Sistema Nacional para la Prevención y Atención de Desastres, dentro
                del Programa de Reducción de la Vulnerabilidad Fiscal del Estado frente a Desastres Naturales del año
                2010. Crédito BIRF 7293-CO.
            </p>
        </div>
    </div>

    <hr class="featurette-divider">
</div>