<div class="container my-5">
  <div class="academic-calendar my-5">
    <h2 class="featurette-heading display-4 fw-bold text-center mb-5">Calendario Académico - Segundo Período 2024</h2>

    <div class="calendar-grid p-4 shadow-sm rounded">
      <div class="header fw-bold text-muted">Actividad</div>
      <div class="header fw-bold text-muted">Fecha</div>

      <div class="cell text-muted" style="text-align: justify;">
        Solicitud devolución del valor de la matrícula por fuerza mayor justificada, ante la Vicerrectoría de Recursos.
      </div>
      <div class="cell text-muted">Del 17 de julio al 02 de agosto de 2024</div>

      <div class="cell text-muted" style="text-align: justify;">
        Plazo para que el estudiante solicite Reserva del valor de la matrícula ante la Vicerrectoría Académica.
      </div>
      <div class="cell text-muted">Del 17 de julio al 16 de agosto de 2024</div>

      <div class="cell text-muted" style="text-align: justify;">Inicio de clases</div>
      <div class="cell text-muted">05 de agosto de 2024</div>

      <div class="cell text-muted" style="text-align: justify;">Registro de notas primer corte (semana 7)</div>
      <div class="cell text-muted">Del 16 al 21 de septiembre de 2024</div>

      <div class="cell text-muted" style="text-align: justify;">
        Evaluación del desempeño Docente (profesores y estudiantes - semana 11 a la 13)
      </div>
      <div class="cell text-muted">Del 14 de octubre al 01 de noviembre de 2024</div>

      <div class="cell text-muted" style="text-align: justify;">Registro de notas segundo corte (semana 12)</div>
      <div class="cell text-muted">Del 21 al 26 de octubre de 2024</div>

      <div class="cell text-muted" style="text-align: justify;">Finalización de clases y exámenes finales (semana 16)
      </div>
      <div class="cell text-muted">Del 18 al 23 de noviembre de 2024</div>

      <div class="cell text-muted" style="text-align: justify;">Registro de notas tercer corte (semana 17)</div>
      <div class="cell text-muted">Del 25 al 29 de noviembre de 2024</div>

      <div class="cell text-muted" style="text-align: justify;">
        Entrega en físico de notas definitivas por parte de la Dirección de Programa a la Oficina de Admisiones,
        Registro
        y Control Académico
      </div>
      <div class="cell text-muted">Del 25 de noviembre al 05 de diciembre de 2024</div>

      <div class="cell text-muted" style="text-align: justify;">
        Firma de Paz y salvo de docentes cátedra referente a notas en la Oficina de Admisiones, Registro y Control
        Académico
      </div>
      <div class="cell text-muted">Del 26 de noviembre al 06 de diciembre de 2024</div>

      <div class="cell text-muted" style="text-align: justify;">Vacaciones Docentes de Planta</div>
      <div class="cell text-muted">Del 19 de diciembre de 2024 al 13 de enero de 2025, inclusive</div>
    </div>
  </div>

  <h2 class="featurette-heading display-4 fw-bold text-center mb-5">Eventos</h2>

  <div *ngFor="let event of events" class="list-group-item mb-4 p-4 shadow-sm">
    <h5 class="fw-bold">{{ event.title }} <small class="text-muted">({{ event.category }})</small></h5>
    <p class="lead text-muted" style="text-align: justify;">{{ event.date | date }}</p>
    <p class="text-muted" style="text-align: justify;">{{ event.description }}</p>
    <div class="d-flex gap-3">
      <button  *ngIf="isAdmin()" class="btn btn-primary btn-sm px-4" (click)="selectEvent(event)">Editar</button>
      <button *ngIf="isAdmin()" class="btn btn-danger btn-sm px-4" (click)="deleteEvent(event.id!)">Eliminar</button>
    </div>
  </div>

  <div class="text-center">
    <button *ngIf="isAdmin()" class="btn btn-primary btn-lg px-5 py-2 rounded-pill" (click)="addNewEvent()">Agregar
      Nuevo Evento</button>
  </div>
  <div class="card mt-5 shadow-lg" *ngIf="selectedEvent">
    <div class="card-body">
      <h5 class="featurette-heading fw-bold mb-4">{{ isEditing ? 'Editar Evento' : 'Nuevo Evento' }}</h5>
      <form (ngSubmit)="onFormSubmit($event)">
        <div class="mb-4">
          <label for="title" class="form-label fw-bold">Título</label>
          <input
            type="text"
            id="title"
            class="form-control"
            [(ngModel)]="selectedEvent.title"
            name="title"
            required
          />
        </div>
        <div class="mb-4">
          <label for="date" class="form-label fw-bold">Fecha</label>
          <input
            type="date"
            id="date"
            class="form-control"
            [(ngModel)]="selectedEvent.date"
            name="date"
            required
          />
        </div>
        <div class="mb-4">
          <label for="category" class="form-label fw-bold">Categoría</label>
          <input
            type="text"
            id="category"
            class="form-control"
            [(ngModel)]="selectedEvent.category"
            name="category"
            required
          />
        </div>
        <div class="mb-4">
          <label for="description" class="form-label fw-bold">Descripción</label>
          <textarea
            id="description"
            class="form-control"
            [(ngModel)]="selectedEvent.description"
            name="description"
            required
          ></textarea>
        </div>
        <div class="d-flex gap-3">
          <button
            type="submit"
            class="btn btn-primary px-4 py-2 rounded-pill"
          >
            {{ isEditing ? 'Guardar Cambios' : 'Agregar Evento' }}
          </button>
          <button
            type="button"
            class="btn btn-secondary px-4 py-2 rounded-pill"
            (click)="clearSelection()"
          >
            Cancelar
          </button>
        </div>
      </form>
      
    </div>
  </div>
  
</div>