<div class="container marketing my-5">
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading display-4 fw-bold">Contratación</h2>
            <p class="lead mt-3 text-muted justify-content-center justify">
                En la Institución Educativa Rural Vanguardia, la contratación se realiza bajo principios de
                transparencia y
                responsabilidad. Nuestro objetivo es asegurar que los procesos de adquisición y prestación de servicios
                se
                lleven a cabo de manera equitativa y abierta, brindando a la comunidad educativa acceso a toda la
                documentación relevante. A continuación, encontrará los enlaces a los procesos de contratación de años
                anteriores.
            </p>
        </div>
        <div class="col-md-5 d-flex flex-column justify-content-center gap-3">
            <a href="https://issuu.com/ierv/docs/lista_contratos_2018"
                class="btn btn-outline-primary btn-lg px-4 py-2 rounded-pill">Contrato 2018</a>
            <a href="https://drive.google.com/drive/folders/1WgL3jaQoMY6BnqIyq1cL9TLdCUxK9p2k"
                class="btn btn-outline-primary btn-lg px-4 py-2 rounded-pill">Contrato 12 de 2022</a>
            <a href="https://drive.google.com/drive/folders/1ywDruJess8Fklv_zTHpXG-GzJGmQ_c5i"
                class="btn btn-outline-primary btn-lg px-4 py-2 rounded-pill">Contrato 13 de 2022</a>
            <a href="https://drive.google.com/drive/folders/1SCcpaqWSRXkBcGk67WL3RfNI2NyXB4Nw"
                class="btn btn-outline-primary btn-lg px-4 py-2 rounded-pill">Contrato 14 de 2022</a>
        </div>
    </div>
</div>