<div class="container my-5">
    <div class="row featurette mb-5">
        <div class="col-md-8 offset-md-2 text-center">
            <h2 class="featurette-heading display-4 fw-bold">Gobierno Escolar</h2>
            <p class="lead mt-3 text-muted" style="text-align: justify;">
                Este proyecto pretende ser netamente democrático no sólo porque permite el acceso y permanencia de niños
                y jóvenes a ella sino porque ofrece espacios para la participación y organización. La democracia también
                se expresa en las posibilidades de acceso al conocimiento, tanto en sus contenidos como en las forma de
                acercarse a él. Romper la tradición autoritaria, en la cual el maestro es el poseedor de la verdad y
                exige un conocimiento memorístico de los estudiantes y su entorno, para investigarlos, recrearlos y
                articularlos a los conocimientos éticos, estéticos, científicos y tecnológicos.

                El proyecto da respuesta a los principios que inspiran la Constitución Nacional, en cuanto al ejercicio
                de una democracia representativa y participativa. Representativa porque se fomenta el candidatizar a
                personas de la Comunidad Educativa que llenen los requisitos necesarios para el desempeño de
                determinadas funciones en las dinámicas sociales
            </p>
        </div>
    </div>

    <hr class="featurette-divider">
</div>