<div class="container my-5">
    <h2 class="text-center display-4 fw-bold mb-4">Proyecto Educativo Institucional</h2>
    <p class="lead mb-5" style="text-align: justify;">
        A continuación, te invitamos a explorar la previsualización del proyecto educativo institucional. En esta sección,
        tendrás la oportunidad de conocer en detalle los objetivos, enfoques y estrategias que guiarán nuestro esfuerzo
        educativo. Este proyecto está diseñado para fomentar un ambiente de aprendizaje enriquecedor y adaptado a las
        necesidades de nuestros estudiantes, promoviendo su desarrollo integral y su compromiso con la comunidad. Te
        animamos a sumergirte en esta presentación y descubrir las propuestas innovadoras que hemos preparado.
      </p>
      
    <div class="text-center mb-5">
        <iframe
            src="https://issuu.com/tecnologiaeinformaticaierv/docs/pei_ierv_modificaciones_viviana_y_j?utm_medium=referral&utm_source=ierv.edu.co"
            width="100%" height="500" frameborder="0" scrolling="no">
        </iframe>
    </div>

    <div class="text-center">
        <a class="btn btn-outline-primary btn-lg shadow-sm"
        href="https://issuu.com/tecnologiaeinformaticaierv/docs/pei_ierv_modificaciones_viviana_y_j?utm_medium=referral&utm_source=ierv.edu.co"
            target="_blank">
            Ver PEI Completo
        </a>
    </div>
</div>