<main>
  <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
        aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="carousel-content d-flex">
          <div class="text-container p-5 d-flex flex-column justify-content-between w-100">
            <div>
              <h1>Invitación a ofertar - Servicio de cafetería / Tienda Escolar sede principal</h1>
              <p>La INSTITUCIÓN EDUCATIVA RURAL VANGUARDIA está interesada en recibir ofertas para la contratación del
                servicio de cafetería de la institución para el año lectivo 2024.</p>
              <p>FECHA APERTURA: 24 de enero de 2024.<br>FECHA CIERRE: 29 de enero de 2024.</p>
            </div>
            <div class="d-flex justify-content-end mt-3">
              <a class="btn btn-outline-light btn-lg" href="../../../assets/documents/comunicado2.pdf">LEER MÁS</a>
            </div>
          </div>
          <div class="image-container">
            <img src="assets/images/carrusel_1.avif" class="d-block img-fluid" alt="Slide 1" width="600" height="400"
              style="object-fit: cover;">
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="carousel-content d-flex">
          <div class="text-container p-5 d-flex flex-column justify-content-between w-100">
            <div>
              <h1>Información importante</h1>
              <p>Información adicional o anuncios importantes de la institución.</p>
            </div>
            <div class="d-flex justify-content-end mt-3">
              <a class="btn btn-outline-light btn-lg" routerLink="/communiques">Descubre más</a>
            </div>
          </div>
          <div class="image-container">
            <img src="assets/images/carrusel_2.avif" class="d-block img-fluid" alt="Slide 2" width="600" height="400"
              style="object-fit: cover;" loading="lazy">
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="carousel-content d-flex">
          <div class="text-container p-5 d-flex flex-column justify-content-between w-100">
            <div>
              <h1>Actualizaciones y eventos</h1>
              <p>Conoce las últimas noticias y eventos de la institución.</p>
            </div>
            <div class="d-flex justify-content-end mt-3">
              <a class="btn btn-outline-light btn-lg" routerLink="/community">Ver eventos</a>
            </div>
          </div>
          <div class="image-container">
            <img src="assets/images/carrusel_3.avif" class="d-block img-fluid" alt="Slide 3" width="600" height="400"
              style="object-fit: cover;" loading="lazy">
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Siguiente</span>
    </button>
  </div>
  <div class="container marketing">
    <div class="row">
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
          role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false">
          <title>Imagen de la convocatoria</title>
          <defs>
            <clipPath id="clip-circle">
              <circle cx="70" cy="70" r="70" />
            </clipPath>
          </defs>
          <rect width="100%" height="100%" fill="var(--bs-secondary-color)" clip-path="url(#clip-circle)" />
          <image href="assets/images/Escudo.avif" x="0" y="0" width="140" height="140" clip-path="url(#clip-circle)" />
        </svg>
        <h2 class="fw-normal">CONVOCATORIA A AUDIENCIA PUBLICA DE RENDICION DE CUENTAS VIGENCIA 2023</h2>
        <p style="text-align: justify;">El rector de la Institución convoca a la comunidad Educativa y ciudadanía a participar de la Audiencia
          Pública de Rendición de Cuentas, vigencia 2023. A través de este espacio podrá conocer los avances de gestión
          de la Institución Educativa Rural Vanguardia.

        </p>
        <p><a class="btn btn-secondary" href="../../assets/documents/comunicado1.pdf">Leer más &raquo;</a></p>
      </div>

      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
          role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false">
          <title>Imagen de la convocatoria</title>
          <defs>
            <clipPath id="clip-circle">
              <circle cx="70" cy="70" r="70" />
            </clipPath>
          </defs>
          <rect width="100%" height="100%" fill="var(--bs-secondary-color)" clip-path="url(#clip-circle)" />
          <image href="assets/images/Escudo.avif" x="0" y="0" width="140" height="140" clip-path="url(#clip-circle)" />
        </svg>
        <h2 class="fw-normal">Invitación a ofertar - Servicio de cafetería / Tienda Escolar sede principal
        </h2>
        <p style="text-align: justify;">La INSTITUCIÓN EDUCATIVA RURAL VANGUARDIA está interesada en recibir ofertas para la contratación del
          servicio de cafetería de la institución para el año lectivo 2024.</p>
        <p><a class="btn btn-secondary" href="../../assets/documents/comunicado2.pdf">Leer más &raquo;</a></p>
      </div>
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
          role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false">
          <title>Imagen de la convocatoria</title>
          <defs>
            <clipPath id="clip-circle">
              <circle cx="70" cy="70" r="70" />
            </clipPath>
          </defs>
          <rect width="100%" height="100%" fill="var(--bs-secondary-color)" clip-path="url(#clip-circle)" />
          <image href="assets/images/Escudo.avif" x="0" y="0" width="140" height="140" clip-path="url(#clip-circle)"
            loading="lazy" />
        </svg>
        <h2 class="fw-normal">Convocatoria a egresados y representantes del sector productivo.</h2>
        <p style="text-align: justify;">El rector de la IERV convoca a los egresados y representantes del sector
          productivo que deseen formar parte
          del consejo directivo de la IERV a que envíen sus datos de contacto. Para ver el comunicado completo, por
          favor de clic en el link que corresponda: Convocatoria a egresados. Convocatoria a representantes del sector
          productivo.</p>
        <p><a class="btn btn-secondary" href="/convocatory"> Leer más &raquo;</a></p>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Sede de la institución. <span
            class="text-body-secondary">Fotografía de la sede principal.</span></h2>
        <p class="lead">La institución cuenta con multiples sedes.</p>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
          height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
          preserveAspectRatio="xMidYMid slice" focusable="false">
          <defs>
            <clipPath id="clip-square">
              <rect width="500" height="500" />
            </clipPath>
          </defs>
          <rect width="100%" height="100%" fill="var(--bs-secondary-bg)" clip-path="url(#clip-square)" />
          <image href="assets/images/carrusel_1.avif" x="0" y="0" width="500" height="500" loading="lazy"
            clip-path="url(#clip-square)" />
        </svg>
      </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-7 order-md-2" style="text-align: justify;">
        <h2 class="featurette-heading fw-normal lh-1">Video de impresión en 3D. <span
            class="text-body-secondary">Impresora 3D en acción.</span></h2>
        <p class="lead">La impresora 3D cobra vida en esta emocionante demostración, transformando un diseño digital en
          un
          objeto tangible en minutos. Con precisión y creatividad, cada capa se añade meticulosamente, revelando las
          infinitas
          posibilidades de la fabricación aditiva en tiempo real.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <video class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
          height="500" controls>
          <source src="assets/video/video.mp4" type="video/mp4" loading="lazy">
          Tu navegador no soporta el video.
        </video>
      </div>
    </div>
    <hr class="featurette-divider">
  </div>
  <section class="text-center important-links-index">
    <h2 class="titles">Sitios y enlaces importantes</h2>
    <div class="d-flex justify-content-center gap-5 align-items-center my-4">
      <a class="link-body-emphasis text-decoration-none" href="https://moodle.com/es/" target="_blank"
        rel="noopener noreferrer">
        <i class="bi bi-person-badge mb-2" style="font-size: 3rem;"></i>
        <p class="fw-bold" style="font-size: 1.5rem;">MOODLE</p>
      </a>

      <a class="link-body-emphasis text-decoration-none" href="https://classroom.google.com/u/0/h" target="_blank"
        rel="noopener noreferrer">
        <i class="bi bi-book mb-2" style="font-size: 3rem;"></i>
        <p class="fw-bold" style="font-size: 1.5rem;">CLASSROOM</p>
      </a>

      <a class="link-body-emphasis text-decoration-none" href="https://awp.s4.colpegasus.com/?id=84" target="_blank"
        rel="noopener noreferrer">
        <i class="bi bi-building mb-2" style="font-size: 3rem;"></i>
        <p class="fw-bold" style="font-size: 1.5rem;">COLPEGASUS</p>
      </a>
    </div>
  </section>
</main>