<div class="d-none d-md-block ball register bg-primary bg-gradient position-absolute rounded-circle"></div>
<div class="container register__form active min-vh-100 d-flex align-items-center justify-content-center">
  <div class="row w-100">
    <div class="d-none d-lg-block col-lg-6 col-xl-6 text-center">
      <img src="assets/images/register.png" class="img-fluid bounce" alt="Imagen de registro">
    </div>
    <div class="col-12 col-lg-6 col-xl-6 px-4">
      <div class="p-4">
        <h3 class="fw-bold text-center">¡Regístrate!</h3>
        <p class="text-center fw-lighter fs-6">
          ¿Ya tienes una cuenta?
          <a routerLink="/login" class="text-primary">Inicia sesión</a>
        </p>
        <form #registerForm="ngForm" (ngSubmit)="register(registerForm)">
          <div class="mb-3">
            <label for="username" class="form-label">Nombre de usuario</label>
            <input type="text" class="form-control shadow-sm border-0 rounded-pill p-3" id="username" ngModel
              name="username" placeholder="Nombre de usuario" required>
            <div *ngIf="registerForm.submitted && !registerForm.controls['username']?.valid" class="text-danger">
              Nombre de usuario es requerido.
            </div>
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Correo Electrónico</label>
            <input type="email" class="form-control shadow-sm border-0 rounded-pill p-3" id="email" ngModel name="email"
              placeholder="Correo Electrónico" required email>
            <div *ngIf="registerForm.submitted && registerForm.controls['email']?.errors?.['required']"
              class="text-danger">
              El correo electrónico es requerido.
            </div>
            <div *ngIf="registerForm.submitted && registerForm.controls['email']?.errors?.['email']"
              class="text-danger">
              Debes ingresar un correo válido.
            </div>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Contraseña</label>
            <div class="d-flex position-relative">
              <input [type]="showPassword ? 'text' : 'password'"
                class="form-control shadow-sm border-0 rounded-pill p-3" id="password" ngModel name="password"
                placeholder="Contraseña" minlength="4" required>
              <button type="button" class="btn btn-link text-primary position-absolute end-0 me-3"
                [ngClass]="showPassword ? 'bi bi-eye' : 'bi bi-eye-slash'" (click)="togglePasswordVisibility()"
                aria-label="Mostrar u ocultar contraseña"></button>
            </div>
            <div *ngIf="registerForm.submitted && registerForm.controls['password']?.errors?.['required']"
              class="text-danger">
              La contraseña es requerida.
            </div>
            <div *ngIf="registerForm.submitted && registerForm.controls['password']?.errors?.['minlength']"
              class="text-danger">
              La contraseña debe tener al menos 4 caracteres.
            </div>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-outline-dark btn-lg rounded-pill mt-4 w-100">Registrarse</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>